LAUNCHRAIL_ENVIRONMENT=development
LAUNCHRAIL_DATABASE_URL=sqlite:///./launchrail.db
LAUNCHRAIL_AUTH_MODE=disabled
LAUNCHRAIL_AUTO_CREATE_SCHEMA=true
# Production also requires:
# LAUNCHRAIL_OIDC_ISSUER=https://login.microsoftonline.com/<tenant>/v2.0
# LAUNCHRAIL_OIDC_AUDIENCE=<application-id>
# LAUNCHRAIL_OIDC_PUBLIC_KEY=<PEM public key supplied securely>
